# Python Basics :
                        
                      Topics Covered 
                        1. Variables
                        2. Operators
                        3. Tokens
                        4. Strings

In [1]:
#Simple program to print some values!!!
print('Hello')

Hello

In [2]:
print("123")

123

Variables :
    
    Variables are the empty containers that stores some values. They can be of any type.

In [1]:
#simple examples for variables
a=10
print(a)

10

In [4]:
a

10

In [5]:
b='First variable'
print(b)

First variable

In [9]:
#Variable types
c=4.0
type(c)

float

In [10]:
type(b)

str

In [22]:
a=True
type(a)

bool

In [23]:
a=3+4j
type(a)

complex

In [2]:
#Getting user defined input
x=input('Enter value for x : ')

Enter value for x : 9

In [3]:
print(type(x))

<class 'str'>

In [20]:
y=int(input('Enter value for x : '))

Enter value for x : 6

In [21]:
print(type(y))

<class 'int'>

# Operators :
    1. Arithmetic operators
    2. Logical operators
    3. Relational operators


ARITHMETIC OPERATIONS 
1. Addition (+)
2. Subtraction(-)
3. Multiplication (*)
4. Division (/)(//)(%)

In [24]:
a=10
b=20

In [26]:
c=a+b
c

30

In [27]:
c=b-a
c

10

In [29]:
c=a*b
c

200

In [31]:
#Single division gives the quotient with decimal points
c=b/a 
c

2.0

In [32]:
#double division gives the quotient in a round off manner(without decimal points)
c=b//a
c

2

In [33]:
#Modulos returns the remainder 
c=b%a
c

0

Relational Operators :
    <,>,==,!=

In [34]:
a=20
b=10

In [35]:
a>b

True

In [36]:
a<b

False

In [37]:
a==b

False

In [38]:
a!=b

True

Logical Operators:
And operator ,
Or operator  ,
Not operator

In [61]:
a=True
b=False

In [62]:
c=a and b
c

False

In [63]:
c=a or b
c

True

In [64]:
c= not b
c

True

In [54]:
x = 10
y = 20
print(x < 15 and y < 30)

True

In [55]:
x = 10
y = 20
print(x < 5 or y < 30)

True

In [56]:
x = 10
print(not(x < 5))

True

# Python Tokens :
    1.Keywords
    2.Identifiers
    3.Literals
    4.Operators

1. Keywords : Special reserved words that can be used.

In [65]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# 2. Identifiers - > Name used for the variables,functions,objects :
    Rules :
        no spl character (except _)
        Case sensitive
        cannot start with digit

In [66]:
a=5
A=10
print(a)
print(A)

5
10

# Literals --> Values that do not change all over the code, unless you change it.

In [67]:
x=10
y=20

In [68]:
print(x,y)

10 20

In [69]:
x=100

In [70]:
print(x,y)

100 20

# STRINGS:

    Sequence of characters enclosed within '',"",""" """

In [72]:
my_str="Hello This is a sample string"
my_str

'Hello This is a sample string'

In [73]:
my_str1='Hello This is a sample string'
my_str1

'Hello This is a sample string'

In [77]:
my_str3 = """This is a string
 that spans multiple lines"""
print(my_str3)

This is a string
 that spans multiple lines

String operations

In [78]:
#To get the length of the string
len(my_str)

29

In [79]:
#To change into uppercase
my_str.upper()

'HELLO THIS IS A SAMPLE STRING'

In [80]:
#To change into  lower case
my_str.lower()

'hello this is a sample string'

In [81]:
#To replace 
my_str.replace('Hello',"Hi")

'Hi This is a sample string'

In [83]:
#To find a occurence of particular word, it returns the index of the starting of the string
my_str.find('sample')

16

In [84]:
#It returns -1 when the string is not present
my_str.find('Sample')

-1

In [91]:
#Split function
fruit = 'I like apples, mangoes, bananas'

fruit.split(',')

['I like apples', ' mangoes', ' bananas']

# String Indexing

# 
Returns the position of the string. 
Indexing starts from [0] which represents the first character of the string.

In [5]:
my_string = "Hello"

In [89]:
my_string[0]

'H'

In [90]:
my_string[-1]

'o'

In [6]:
my_string[1]

'e'

# Slicing

In [7]:
my_string = "Hello, world!"

In [8]:
#Starting from 1st to 6th
my_string[0:7]

'Hello, '

In [12]:
my_string[:-1]

'Hello, world'

In [96]:
#Skips 2 letters
my_string[::2]

'Hlo ol!'

In [98]:
my_string[::]

'Hello, world!'

# String Manipulations

In [100]:
#Reverse the string
reversed_string = my_string[::-1]
reversed_string

'!dlrow ,olleH'

In [101]:
#String Concatenation

first_name = "Alice"
last_name = "Smith"
full_name = first_name + " " + last_name
print(full_name)

Alice Smith

In [104]:
#String Join
fruits = ['apple', 'banana', 'cherry']
print(fruits)
joined_string = ", ".join(fruits)
print(joined_string)

['apple', 'banana', 'cherry']
apple, banana, cherry

In [106]:
#Removing unwanted spaces,char etc
my_string = "  Hello, world!  "
trimmed_string = my_string.strip()
print(trimmed_string)

Hello, world!

In [108]:
text = "Hello, world!   "
stripped_text = text.rstrip()
print(stripped_text)

Hello, world!

In [107]:
text = "# Hello, world! @"
stripped_text = text.lstrip("#").rstrip("@")
print(stripped_text)

 Hello, world!