# DATA Structures 
-store, retrieve, and manipulate data in Python

    Topics Covered :
    1. List
    2. Tuples
    3.Sets
    4.Dictionary

# Lists : 
    1. They are created using [] brackets
    2. They are mutable
    3. They have defined order
    4. They can have duplicates.

In [3]:
#empty list
a = []
print(a)

[]

In [4]:
type(a)

list

In [5]:
languages = ['R','Python', 45.7, 'Scala', 42] #List can contain any datatype in it.
print(languages)

['R', 'Python', 45.7, 'Scala', 42]

In [6]:
print(languages[2]) # Indexing starts from 0

45.7

In [7]:
print(languages[1:4])

['Python', 45.7, 'Scala']

In [8]:
languages

['R', 'Python', 45.7, 'Scala', 42]

# Appending data to the list :

In [9]:
languages.append('ML')
print(languages)

['R', 'Python', 45.7, 'Scala', 42, 'ML']

In [10]:
#The list can contain duplicate data
languages.append('ML')
print(languages)

['R', 'Python', 45.7, 'Scala', 42, 'ML', 'ML']

In [11]:
# Removing data from the list

languages.pop() # removes the last one.

'ML'

In [12]:
languages

['R', 'Python', 45.7, 'Scala', 42, 'ML']

In [13]:
#removing data from the list based on the position
languages.pop(0) 
print(languages)

['Python', 45.7, 'Scala', 42, 'ML']

In [14]:
languages.pop(1) 
print(languages)

['Python', 'Scala', 42, 'ML']

In [15]:
languages.append('Deep Learning')

print(languages)

['Python', 'Scala', 42, 'ML', 'Deep Learning']

In [16]:
#we can also delete using remove command, by giving the name inside the list.
languages.remove('Scala')
print(languages)

['Python', 42, 'ML', 'Deep Learning']

In [17]:
#duplicating into new list.
new_list = languages
languages.append('Java')
print(new_list)

['Python', 42, 'ML', 'Deep Learning', 'Java']

In [45]:
languages.append('AI')
languages

['Python', 42, 'ML', 'Deep Learning', 'Java', 'AI']

In [18]:
#changes happen in the duplicated list is affected into new list also
languages

['Python', 42, 'ML', 'Deep Learning', 'Java']

How the above works :
    if
    a=2
    b=a then value of b will be equal to value of a, 
    when i change value of a what ever changes made will impact b also. that is what happens above.
    because the value for a and b are stored under the same id name.

In [19]:
print(id(languages))

2161444226560

In [20]:
print(id(new_list))

2161444226560

In [21]:
#Both the new list and the old list are saved under the same space.

In [22]:
#copy command
another_list = languages.copy()
print(id(another_list))

2161445302976

In [47]:
another_list

['Python', 42, 'ML', 'Deep Learning', 'Java']

In [24]:
#Sorting
l1=['python','ML','Deep learning','R']

In [25]:
l1.sort()
l1

['Deep learning', 'ML', 'R', 'python']

In [26]:
l2=[1,2,3]
l2

[1, 2, 3]

In [27]:
l1+l2

['Deep learning', 'ML', 'R', 'python', 1, 2, 3]

In [28]:
l2*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [29]:
len(l2)

3

In [30]:
l2

[1, 2, 3]

In [31]:
l2=l2*3

In [32]:
l2

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [33]:
nums = [2,6,9,3,2,10]
print(len(nums))

6

In [34]:
print(max(nums))

10

In [35]:
print(min(nums))

2

# Nested Lists

In [36]:
n = [[1, 2, 3, 4], [ 5, 6, 7], [8, 9, 10]]
n

[[1, 2, 3, 4], [5, 6, 7], [8, 9, 10]]

In [37]:
print(n[1])

[5, 6, 7]

In [38]:
print(n[0][1])

2

In [39]:
n[1][1]='Nested List'

In [40]:
n

[[1, 2, 3, 4], [5, 'Nested List', 7], [8, 9, 10]]

# Tuples :
    1. They are created with ()
    2. They are Immutable
    3. They are ordered
    4. They can have duplicates

In [41]:
#Create a tuple
first = (30, "python", 5.8)
print(first[0])

30

In [42]:
type(first)

tuple

In [43]:
city= ("Bangalore", 28.9949521, 72) 
print(city)

('Bangalore', 28.9949521, 72)

In [44]:
# will throw error
city[1] = 13.8877 # Tuples once created cannot be modified.

TypeError: 'tuple' object does not support item assignment

In [48]:
b = city[:-1]
print(b)
print(len(b))

('Bangalore', 28.9949521)
2

In [49]:
new1 = 123, 543, 'hello!'
new1

(123, 543, 'hello!')

In [50]:
new2 = new1, (1, 2, 3, 4, 5)
new2 #one tuple can be merged with some other data to form a new tuple

((123, 543, 'hello!'), (1, 2, 3, 4, 5))

In [51]:
#Changing list to tuples and vice versa
var1 = ([1, 2, 3], [4,5,6])

In [53]:
c = list(var1) # Converting tuple to list
c
type(c)

list

In [54]:
c= tuple(c) # converting list to tuple
c

([1, 2, 3], [4, 5, 6])

In [55]:
type(c)

tuple

In [3]:
#What will be the answer for the following
t1 = (1, 2, 3, 4)
t1.append(5)
print(t1)

AttributeError: 'tuple' object has no attribute 'append'

In [4]:
my_list = [1, 2, 3, 4]
my_list.append(5)
print(my_list)

[1, 2, 3, 4, 5]

# SETS :
    1. Use {}
    2. Unordered
    3.Collection of Unique elements(No duplicates allowed)
    4. Unchangable (we can add or remove but cant do some other changes)
    5. Can contain any data type.

In [6]:
# Creating a set
myset = {'Deep learning', 'ML', 'R', 'python'}
print(myset)

{'Deep learning', 'ML', 'R', 'python'}

In [8]:
type(myset)

set

In [7]:
# Adding an element to the set
myset.add("AI")
print(myset)

{'Deep learning', 'AI', 'ML', 'R', 'python'}

In [8]:
myset.remove("R")
print(myset)

{'Deep learning', 'AI', 'ML', 'python'}

In [7]:
newset={'Deep learning', 'ML', 'R', 'python','R','AI','ML','ai'}
newset

{'AI', 'Deep learning', 'ML', 'R', 'ai', 'python'}

In [9]:
#Intersection - Prints the common between 2 sets
print(myset.intersection(newset))

{'python', 'ML', 'AI', 'Deep learning'}

In [10]:
#Set Union (Joins both the sets, no duplicates)
print(myset.union(newset))

{'python', 'AI', 'R', 'ai', 'ML', 'Deep learning'}

In [16]:
#Set difference it excludes the common items and prints the other
#The difference of the set B from set A (A - B) is a set of elements that are only in A but not in B. 
#Similarly, B - A is a set of elements in B but not in A.
print(newset.difference(myset))

{'R', 'ai'}

In [17]:
print(myset.difference(newset))

set()

In [13]:
myset

{'AI', 'Deep learning', 'ML', 'python'}

In [14]:
newset

{'AI', 'Deep learning', 'ML', 'R', 'ai', 'python'}

# Dictionaries :
    1.Stores Values in Keys:Value pairs 
    2.created using {}
    3. Dictionaries are ordered(from python 3.7,earlier it was unordered)
    4. Mutable
    5.No Duplicates
    6. Can have any data types

In [18]:
empty_dict = {}
print(type(empty_dict))

<class 'dict'>

In [22]:
d = {"bird":"peacock","animal":"cat","earth":2,"list":[23,32,12]}
print(d)
type(d)

{'bird': 'peacock', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12]}

dict

In [20]:
Bird= d['bird']
print(Bird)

peacock

In [24]:
age = d.get('list')
print(age)

[23, 32, 12]

In [25]:
#add a key, val
d['Profession'] = 'Singer'
print(d)

{'bird': 'peacock', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'Profession': 'Singer'}

In [12]:
d1={'python':'suba','SQL':'vignesh','java':'pivin'}
d1

{'python': 'suba', 'SQL': 'vignesh', 'java': 'pivin'}

In [13]:
d1['ETL']='banu'
d1

{'python': 'suba', 'SQL': 'vignesh', 'java': 'pivin', 'ETL': 'banu'}

In [26]:
#updating 2 new keys and values
new = dict(Name='Taylor swift', Songs=['Blank space','Lover'])
d.update(new)
print(d)

{'bird': 'peacock', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'Profession': 'Singer', 'Name': 'Taylor swift', 'Songs': ['Blank space', 'Lover']}

In [27]:
del d['bird']
print(d)

{'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'Profession': 'Singer', 'Name': 'Taylor swift', 'Songs': ['Blank space', 'Lover']}

In [28]:
#see all the details. 
print(list(d.values()))

['cat', 2, [23, 32, 12], 'Singer', 'Taylor swift', ['Blank space', 'Lover']]

In [29]:
print(list(d.keys()))

['animal', 'earth', 'list', 'Profession', 'Name', 'Songs']

In [31]:
d

{'animal': 'cat',
 'earth': 2,
 'list': [23, 32, 12],
 'Profession': 'Singer',
 'Name': 'Taylor swift',
 'Songs': ['Blank space', 'Lover']}

# TASKS

1. Create 1st tuple with values -> (10, 20, 30), 2nd tuple with values -> (40,
50, 60):
a. Concatenate the two tuples and store it in “t_combine”
b. Repeat the elements of “t_combine” 3 times
c. Access the 3rd element from “t_combine”
d. Access the first three elements from “t_combine”
e. Access the last three elements from “t_combine

2. Create a list ‘my_list’ with these elements:
a. First element is a tuple with values 1, 2, 3
b. Second element is a tuple with values “a”, “b”, “c”
c. Third element is a tuple with values True,False

3. Create a dictionary ‘fruit’ where:
a. The first key is ‘Fruit’ and the values are (“Apple”, “Banana”, “Mango”,
“Guava”)
b.The second key is ‘Cost’ and the values are (85, 54, 120, 70)
c. Extract all the keys from ‘fruit’
d. Extract all the values from ‘fruit’

4.Create a set named ‘my_set’ with values (1, 1, “a”, “a”, True, True) and print the result.